
<nav class="navbar">
  <div class="navbar-logo">
    <a [routerLink]="'/inicio'">Difumina2</a>
    <div class="navbar-menu-toggle" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  
  <div class="navbar-menu" [ngClass]="{'active': isMenuActive}">
    <ul class="menu-items">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.path" routerLinkActive="active">{{ item.text }}</a>
      </li>
    </ul>
  </div>
  
  <div class="navbar-auth">
    <button class="login-btn freeman">Iniciar sesión</button>

  </div>
</nav>

