/* Agregar al inicio del archivo styles.scss */
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

/* You can add global styles to this file, and also import other style files */
/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }                 


/* Opcional: Estilos básicos para swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute !important;
}